@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

html {
  font-family: 'Jersey 15', Courier, monospace;
  font-size: 1.2rem;
}

main {
  background: rgb(112, 54, 187);
  background: linear-gradient(270deg, rgba(112, 54, 187, 1) 0%, rgba(64, 23, 134, 1) 100%);
}
